<div class="sidebar-header">
  <h2>WorkTracker</h2>
  <button class="icon-btn mobile-close" (click)="closeMenu.emit()">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>

<div class="scroll-area">
  <div class="nav-section">
    <div class="section-title">Geral</div>
    <ul>
      <li routerLink="/" 
          (click)="closeMenu.emit()" 
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">
        <ion-icon name="grid-outline"></ion-icon>
        <span>Todas as Folhas</span>
      </li>
    </ul>
  </div>

  <div class="nav-section">
    <div class="section-title">Folhas</div>
    <ul>
      <li *ngFor="let m of dataService.months()"
          [routerLink]="['/month', m.id]"
          routerLinkActive="active"
          (click)="selectMonth()">
        
        <div class="nav-item-content">
          <span class="month-name">{{ m.name }}</span>
          <span class="month-date">{{ m.month | date:'MMM yyyy':'':'pt-PT' }}</span>
        </div>

        <div class="nav-actions">
          <div class="dot" *ngIf="m.entries.length > 0"></div>
          
          <button class="more-btn" (click)="onRename(m, $event)">
            <ion-icon name="ellipsis-horizontal"></ion-icon>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="sidebar-footer">
  <button class="btn-create" (click)="requestNewSheet.emit()">
    <ion-icon name="add-circle"></ion-icon>
    <span>Nova Folha</span>
  </button>
  
  <button class="btn-settings" (click)="requestSettings.emit()">
    <ion-icon name="settings-outline"></ion-icon>
  </button>
</div>