<div class="modal-overlay" (click)="close.emit({action: 'cancel'})">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h2>Gerir Folha</h2>
      <button class="btn btn-outline btn-icon" (click)="close.emit({action: 'cancel'})">
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </div>

    <label class="ios-subtitle">Nome</label>
    <input type="text" [(ngModel)]="name">

    <button class="btn btn-block" (click)="save()">Renomear</button>
    <button class="btn btn-danger btn-block" style="margin-top: 10px" (click)="remove()">Apagar Folha</button>
  </div>
</div>