<div class="container">
  
  <div class="page-header">
    <div class="titles">
      <h1>Folhas</h1>
    </div>
    <button class="nav-btn icon-only" (click)="openSettings()" style="display:block; right: 15px; left: auto;">
       <ion-icon name="settings-outline"></ion-icon>
    </button>
  </div>

  <div class="grid">
    
    <div class="card create-card" (click)="createNew()">
      <div class="icon-bg">
        <ion-icon name="add"></ion-icon>
      </div>
      <span class="card-title">Criar Nova Folha</span>
    </div>

    <div class="card sheet-card" *ngFor="let m of dataService.months()" [routerLink]="['/month', m.id]">
      
      <div class="card-top">
        <div class="icon-mini">
          <ion-icon name="calendar-outline"></ion-icon>
        </div>
        <div class="badge" *ngIf="m.entries.length > 0">
          {{ m.entries.length }} registos
        </div>
      </div>

      <div class="card-content">
        <span class="month-label">{{ m.month | date:'MMMM yyyy':'':'pt-PT' }}</span>
        <span class="sheet-name">{{ m.name }}</span>
      </div>

      <div class="card-footer">
        <span class="link-text">Ver detalhes</span>
        <ion-icon name="arrow-forward"></ion-icon>
      </div>

    </div>

  </div>
</div>

<app-settings-modal *ngIf="showSettings" (close)="onSettingsClose()"></app-settings-modal>
<app-new-sheet-modal *ngIf="showNewSheet" (close)="onNewSheetClose($event)"></app-new-sheet-modal>